In [35]:
import pandas as pd

#MySql stuff
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()


#CSVs
parks_csv = "parks.csv"
species_csv = "species.csv"

In [36]:
park_df = pd.read_csv(parks_csv)
species_df = pd.read_csv(species_csv, low_memory =False)

In [37]:
park_df = park_df[['Park Name' , 'State' , 'Latitude' , 'Longitude'
]]
park_df.head()

                Park Name State  Latitude  Longitude
0    Acadia National Park    ME     44.35     -68.21
1    Arches National Park    UT     38.68    -109.57
2  Badlands National Park    SD     43.75    -102.50
3  Big Bend National Park    TX     29.25    -103.25
4  Biscayne National Park    FL     25.65     -80.08

In [38]:
species_df = species_df[['Park Name' , 'Common Names' , 'Scientific Name' , 
                         'Category' , 'Abundance' , 'Nativeness' , 'Conservation Status']]
species_df.head()

,Park Name,Common Names,Scientific Name,Category,Abundance,Nativeness,Conservation Status
0,Acadia National Park,Moose,Alces alces,Mammal,Rare,Native,NaN
1,Acadia National Park,"Northern White-Tailed Deer, Virginia Deer, Whi...",Odocoileus virginianus,Mammal,Abundant,Native,NaN
2,Acadia National Park,"Coyote, Eastern Coyote",Canis latrans,Mammal,Common,Not Native,Species of Concern
3,Acadia National Park,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Canis lupus,Mammal,NaN,Native,Endangered
4,Acadia National Park,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Vulpes vulpes,Mammal,Common,Unknown,NaN

In [39]:
#SQL engine
engine = create_engine("mysql://root:April131994@localhost/parks_species_db")

In [44]:

park_df.to_sql('parksdf', engine, schema= 'parks_species_db', if_exists='replace', index=True)

species_df.to_sql('speciesdf', engine, schema= 'parks_species_db', if_exists='replace', index=True)

In [24]:
#Group By For Bora

# Using GroupBy in order to separate the data into fields according to "state" values
grouped_speciesDF = species_df.loc[species_df['Abundance'] == "Rare", :]

# The object returned is a "GroupBy" object and cannot be viewed normally...
print(grouped_speciesDF)

# In order to be visualized, a data function must be used...
grouped_speciesDF.head(10)

                   Park Name  \
0       Acadia National Park
9       Acadia National Park
35      Acadia National Park
36      Acadia National Park
69      Acadia National Park
148     Acadia National Park
157     Acadia National Park
161     Acadia National Park
167     Acadia National Park
184     Acadia National Park
191     Acadia National Park
205     Acadia National Park
216     Acadia National Park
219     Acadia National Park
226     Acadia National Park
235     Acadia National Park
246     Acadia National Park
276     Acadia National Park
302     Acadia National Park
326     Acadia National Park
332     Acadia National Park
333     Acadia National Park
341     Acadia National Park
353     Acadia National Park
366     Acadia National Park
374     Acadia National Park
376     Acadia National Park
395     Acadia National Park
407     Acadia National Park
409     Acadia National Park
...                      ...
119042    Zion National Park
119048    Zion National Park
119053    Zion National Park
119073    Zion National Park
119079    Zion National Park
119091    Zion National Park
119093    Zion National Park
119098    Zion National Park
119099    Zion National Park
119103    Zion National Park
119112    Zion National Park
119121    Zion National Park
119126    Zion National Park
119134    Zion National Park
119139    Zion National Park
119148    Zion National Park
119171    Zion National Park
119172    Zion National Park
119175    Zion National Park
119177    Zion National Park
119183    Zion National Park
119186    Zion National Park
119188    Zion National Park
119203    Zion National Park
119213    Zion National Park
119216    Zion National Park
119227    Zion National Park
119230    Zion National Park
119239    Zion National Park
119246    Zion National Park

                                             Common Names  \
0                                                   Moose
9                                 Blackcat, Fisher, Pekan
35             Cooper Lemming Mouse, Southern Bog Lemming
36                                 Woodland Jumping Mouse
69            American Pintail, Northern Pintail, Pintail
148     Bartramian Sandpiper, Upland Plover, Upland Sa...
157                                    Pectoral Sandpiper
161     Common Snipe, Wilson's Common Snipe, Wilson's ...
167        Hudsonian Curlew, Hudsonian Whimbrel, Whimbrel
184                                   Black-Billed Cuckoo
191     Canada Grouse, Canada Spruce Grouse, Haith Hen...
205                 Northern Virginia Rail, Virginia Rail
216                                        Indigo Bunting
219                                       Scarlet Tanager
226                 Canada Gray Jay, Canada Jay, Gray Jay
235         Lincoln's Sparrow, Northern Lincoln's Sparrow
246                  Eastern Field Sparrow, Field Sparrow
276                                    Eastern Meadowlark
302                                    Townsend's Warbler
326                                 Blue-Gray Gnatcatcher
332     Long-Billed Marsh Wren, Marsh Wren, Prairie Ma...
333     Sedge Wren, Short-Billed Marsh Wren, Short-Bil...
341     Gray-Cheeked Thrush, Northern Gray-Cheeked Thrush
353     Alder Traill's Flycatcher, Traills Flycatcher,...
366                                    Philadelphia Vireo
374                                           Snowy Egret
376                  Least Bittern, Eastern Least Bittern
395                                     Pied-Billed Grebe
407               American Long-Eared Owl, Long-Eared Owl
409                                             Snowy Owl
...                                                   ...
119042                                    Ditch Polypogon
119048                                          Hardgrass
119053                                        Indiangrass
119073                                Bloomer's Ricegrass
119079                                   Black Spleenwort
119091                                  Wooton's Lip-Fern
119093                                  Purple Cliffbrake
119098                                Wright's Cliffbrake
119099                                      Goldback Fern
119103                                     Oregon Woodsia
119112                                Columbian Monkshood
119121                                  Western Columbine
119126                                 Subalpine Larkspur
119134                                     Drab Buttercup
119139                                   Common Hackberry
119148                                Utah Mountain-Lilac
119171                                  Woolly Cinquefoil
119172                                            Apricot
119175                                             Almond
119177                                              Peach
119183                                        Common Pear
119186                               Himalayan Blackberry
119188                                      Garden Burnet
119203                                         Chinaberry
119213                                  Desert Gooseberry
119216                                Littleleaf Alumroot
119227                                  Large-Seed Dodder
119230                                   False Nightshade
119239                            Long-Leaf Ground-Cherry
119246                                      Creosote Bush

                              Scientific Name        Category Abundance  \
0                                 Alces alces          Mammal      Rare
9                             Martes pennanti          Mammal      Rare
35                         Synaptomys cooperi          Mammal      Rare
36                       Napaeozapus insignis          Mammal      Rare
69                                 Anas acuta            Bird      Rare
148                      Bartramia longicauda            Bird      Rare
157                        Calidris melanotos            Bird      Rare
161                       Gallinago gallinago            Bird      Rare
167                         Numenius phaeopus            Bird      Rare
184                  Coccyzus erythropthalmus            Bird      Rare
191                    Falcipennis canadensis            Bird      Rare
205                           Rallus limicola            Bird      Rare
216                          Passerina cyanea            Bird      Rare
219                          Piranga olivacea            Bird      Rare
226                     Perisoreus canadensis            Bird      Rare
235                       Melospiza lincolnii            Bird      Rare
246                          Spizella pusilla            Bird      Rare
276                           Sturnella magna            Bird      Rare
302                       Dendroica townsendi            Bird      Rare
326                       Polioptila caerulea            Bird      Rare
332                     Cistothorus palustris            Bird      Rare
333                     Cistothorus platensis            Bird      Rare
341                          Catharus minimus            Bird      Rare
353                        Empidonax traillii            Bird      Rare
366                      Vireo philadelphicus            Bird      Rare
374                             Egretta thula            Bird      Rare
376                         Ixobrychus exilis            Bird      Rare
395                       Podilymbus podiceps            Bird      Rare
407                                 Asio otus            Bird      Rare
409                          Nyctea scandiaca            Bird      Rare
...                                       ...             ...       ...
119042                  Polypogon interruptus  Vascular Plant      Rare
119048                       Sclerochloa dura  Vascular Plant      Rare
119053                     Sorghastrum nutans  Vascular Plant      Rare
119073                       Stipa X bloomeri  Vascular Plant      Rare
119079              Asplenium adiantum-nigrum  Vascular Plant      Rare
119091                   Cheilanthes wootonii  Vascular Plant      Rare
119093                   Pellaea atropurpurea  Vascular Plant      Rare
119098                     Pellaea wrightiana  Vascular Plant      Rare
119099              Pityrogramma triangularis  Vascular Plant      Rare
119103                        Woodsia oregana  Vascular Plant      Rare
119112  Aconitum columbianum var. columbianum  Vascular Plant      Rare
119121                      Aquilegia formosa  Vascular Plant      Rare
119126                     Delphinium barbeyi  Vascular Plant      Rare
119134                   Ranunculus inamoenus  Vascular Plant      Rare
119139                    Celtis occidentalis  Vascular Plant      Rare
119148                     Ceanothus martinii  Vascular Plant      Rare
119171                    Potentilla hippiana  Vascular Plant      Rare
119172                       Prunus armeniaca  Vascular Plant      Rare
119175                          Prunus dulcis  Vascular Plant      Rare
119177                         Prunus persica  Vascular Plant      Rare
119183                         Pyrus communis  Vascular Plant      Rare
119186                         Rubus discolor  Vascular Plant      Rare
119188                      Sanguisorba minor  Vascular Plant      Rare
119203                        Melia azedarach  Vascular Plant      Rare
119213         Ribes velutinum var. velutinum  Vascular Plant      Rare
119216     Heuchera parvifolia var. utahensis  Vascular Plant      Rare
119227                       Cuscuta indecora  Vascular Plant      Rare
119230                Chamaesaracha coronopus  Vascular Plant      Rare
119239                    Physalis longifolia  Vascular Plant      Rare
119246                      Larrea tridentata  Vascular Plant      Rare

        Nativeness Conservation Status
0           Native                 NaN
9           Native                 NaN
35          Native                 NaN
36          Native                 NaN
69          Native                 NaN
148         Native  Species of Concern
157         Native                 NaN
161         Native                 NaN
167         Native  Species of Concern
184         Native  Species of Concern
191         Native                 NaN
205         Native                 NaN
216         Native                 NaN
219         Native                 NaN
226         Native                 NaN
235         Native  Species of Concern
246         Native                 NaN
276         Native                 NaN
302     Not Native                 NaN
326         Native                 NaN
332         Native                 NaN
333         Native                 NaN
341         Native                 NaN
353         Native  Species of Concern
366         Native                 NaN
374     Not Native                 NaN
376         Native                 NaN
395         Native                 NaN
407         Native  Species of Concern
409         Native                 NaN
...            ...                 ...
119042  Not Native                 NaN
119048  Not Native                 NaN
119053      Native                 NaN
119073      Native                 NaN
119079      Native                 NaN
119091      Native                 NaN
119093      Native                 NaN
119098      Native                 NaN
119099      Native                 NaN
119103      Native                 NaN
119112      Native                 NaN
119121      Native                 NaN
119126      Native                 NaN
119134      Native                 NaN
119139  Not Native                 NaN
119148      Native                 NaN
119171      Native                 NaN
119172  Not Native                 NaN
119175  Not Native                 NaN
119177  Not Native                 NaN
119183  Not Native                 NaN
119186  Not Native                 NaN
119188  Not Native                 NaN
119203  Not Native                 NaN
119213      Native                 NaN
119216      Native                 NaN
119227      Native                 NaN
119230      Native                 NaN
119239      Native                 NaN
119246      Native                 NaN

[10768 rows x 7 columns]

,Park Name,Common Names,Scientific Name,Category,Abundance,Nativeness,Conservation Status
0,Acadia National Park,Moose,Alces alces,Mammal,Rare,Native,NaN
9,Acadia National Park,"Blackcat, Fisher, Pekan",Martes pennanti,Mammal,Rare,Native,NaN
35,Acadia National Park,"Cooper Lemming Mouse, Southern Bog Lemming",Synaptomys cooperi,Mammal,Rare,Native,NaN
36,Acadia National Park,Woodland Jumping Mouse,Napaeozapus insignis,Mammal,Rare,Native,NaN
69,Acadia National Park,"American Pintail, Northern Pintail, Pintail",Anas acuta,Bird,Rare,Native,NaN
148,Acadia National Park,"Bartramian Sandpiper, Upland Plover, Upland Sa...",Bartramia longicauda,Bird,Rare,Native,Species of Concern
157,Acadia National Park,Pectoral Sandpiper,Calidris melanotos,Bird,Rare,Native,NaN
161,Acadia National Park,"Common Snipe, Wilson's Common Snipe, Wilson's ...",Gallinago gallinago,Bird,Rare,Native,NaN
167,Acadia National Park,"Hudsonian Curlew, Hudsonian Whimbrel, Whimbrel",Numenius phaeopus,Bird,Rare,Native,Species of Concern
184,Acadia National Park,Black-Billed Cuckoo,Coccyzus erythropthalmus,Bird,Rare,Native,Species of Concern